body {
    background-image: url(im.jpg);
    background-size: cover;
    height: 100%;
}

.cow {
    height: max-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    /* color: white; */
    /* position: fixed; */
}

.trai {
    width: 20%;
    height: 10px;
    background-color: red;
    margin-left: 40%;
    margin-bottom: -17px;
}

.container {
    text-align: center;
}

.container {
    text-align: center;
    color: white;
}

hr {
    background-color: red;
    width: 100%;
    height: 3px;
    align-items: center;

}
.nav-link {
    color: white;
}
.navbar-toggler {
    background-color: white;
}